* {
	box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #333;
}

// main-header
.main-header {
	min-width: 1280px;
	height: 56px;
	background: #2289bf;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		margin-left: 50px;
	}
	.search {
		margin-right: 94px;
		input {
			width: 312px;
			height: 28px;
			border-radius: 15px;
			border: none;
			outline: none;
			padding-left: 40px;
			background: #fff url('../images/search.png') no-repeat 15px 50%;
		}
		.sign-up {
			display: inline-block;
			background: #2289bf url('../images/user.png') no-repeat;
			padding-left: 18px;
			margin-left: 20px;
			color: #fff;
		}
	}
}

//container
.container {
	width: 1280px;
	margin: 0 auto;
}

.left-part {
	width: 260px;
	height: 100vh;
	background-color: #2b2f3d;
	display: flex;
	flex-direction: column;
	.avatar-container {
		img {
			width: 48px;
			height: 48px;
			padding: 3px;
			border-radius: 50%;
			border: 2px solid #ddd;
		}
	}
}

.right-part {
	width: 1020px;
}