$navBackGround: #2b2f3d;
$navHoverBackGround: #393d4e;

* {
	box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #333;
}

// main-header
.main-header {
	min-width: 1280px;
	height: 56px;
	background: #2289bf;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		margin-left: 50px;
	}
	.search {
		margin-right: 94px;
		input {
			width: 312px;
			height: 28px;
			border-radius: 15px;
			border: none;
			outline: none;
			padding-left: 40px;
			background: #fff url('../images/search.png') no-repeat 15px 50%;
		}
		.sign-up {
			display: inline-block;
			background: #2289bf url('../images/user.png') no-repeat;
			padding-left: 18px;
			margin-left: 20px;
			color: #fff;
		}
	}
}

//container
.container {
	width: 1280px;
	margin: 0 auto;
	display: flex;
}

.left-part {
	width: 260px;
	height: 100vh;
	font-size: 12px;
	background-color: $navBackGround;
	display: flex;
	flex-direction: column;
	.user-info {
		height: 150px;
		background: #2b2f3d;
		padding: 18px 0 0 45px;
	}
	.avatar-container {
		display: flex;
		align-items: center;
		img {
			width: 48px;
			height: 48px;
			padding: 3px;
			border-radius: 50%;
			border: 2px solid #ddd;
		}
		span {
			color: #fff;
			margin-left: 15px;
		}
	}
	.detail {
		color: #6e8098;
		margin-top: 23px;
		padding-left: 18px;
		li {
			display: inline-block;
			padding-right: 30px;
			span {
				display: block;
				margin-bottom: 5px;
			}
			&+li {
				padding-left: 30px;
				border-left: 2px solid #323646;
			}
		}
	}
	nav {
		li {
			color: #6e8095;
			cursor: pointer;
			ul {
				// display: none;
				visibility: hidden;
				max-height: 0;
			}
			&:hover {
				& > ul {
					// display: block;
			    	transition: max-height 2s;
					visibility: visible;
					max-height: 3000px;
				}
			}
		}
		& > ul > li {
			padding-left: 46px;
			line-height: 46px;
			&:hover li {
				line-height: 26px;
			}
			&:not(:first-child) {
				line-height: 46px;
			}
			& > ul {
				padding-left: 25px;
				li {
					img {
						margin-right: 10px;
					}
					span {
						padding-left: 20px;
						background: $navHoverBackGround url('../images/icon-folder.png') no-repeat 0 50%;
					}
					ul {
						padding-left: 32px;

					}
					li {
						padding-left: 16px;
						background: $navHoverBackGround url('../images/icon-doc.png') no-repeat 0 50%;
					}
					&:hover {
						color: #fff;
					}
				}
			}
			&:first-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-chart.png') no-repeat 0 50%;
			}
			&:nth-child(2) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(3) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
			}
			&:nth-child(4) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(5) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:last-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-account.png') no-repeat 0 50%;
			}
			&:hover {
				color: #fff;
				background: $navHoverBackGround;
				&:first-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-chart.png') no-repeat 0 50%;
				}
				&:nth-child(2) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(3) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
				}
				&:nth-child(4) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(5) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:last-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-account.png') no-repeat 0 50%;
				}
			}
		}
		.second-class-list {

		}
	}
}

.right-part {
	width: 1020px;
	background: #eee;

	nav {
		height: 30px;
		line-height: 30px;
		padding-left: 30px;
		background: #fff;
		li {
			display: inline-block;
			margin-right: 7px;
			color: #bcbbbb;
			&:first-child {
				margin-right: 13px;
			}
			a {
				color: #bcbbbb;
				&.active {
					color: #6998c2;
				}
			}
		}
	}
	.inner-container {
		padding: 20px 70px 0 60px;
		.search {
			background: #fff;
			height: 86px;
			color: #b1b0b0;
			font-size: 12px;
			display: flex;
			padding: 15px 32px;
			margin-bottom: 10px;
			border: 1px solid #ddd;
			select {
				width: 70px;
				height: 25px;
				border: none;
				outline: none;
				border: 2px solid #b1b0b0;
				border-radius: 0;
				-webkit-appearance: none;
				color: #000;
				padding-left: 10px;
				margin-left: 15px;
				background: #fff url('../images/select-black.png') no-repeat 48px 8px;
			}
			label {
				display: block;
				margin-bottom: 10px;
			}
			.form-group {
				&:first-child {
					margin-right: 38px;
					select {
						background: #fff url('../images/select-blue.png') no-repeat 48px 8px;
					}
				}
				&:nth-child(2) {
					padding-right: 30px;
					margin-right: 32px;
					background: #fff url('../images/search-exchange.png') no-repeat 100% 50%;
					select {
						width: 120px;
						background-position: 98px 8px;
					}
				}
				&:nth-child(3) {
					margin-right: 15px;
					label {
						margin-right: 15px;
					}
				}
				&:last-child button {
					border: none;
					outline: none;
					width: 50px;
					height: 25px;
					background: #388ac1;
					color: #fff;
					border-radius: 2px;
					cursor: pointer;
					margin-top: 15px;
					&:active {
						background: #499bd2;
					}
				}
			}
			.multiple {
				label {
					display: inline-block;
				}
			}
			#date,
			#done {
				width: 120px;
				background-position: 98px 8px;
			}
		}

		.history {
			display: flex;
			div {
				border-top: 1px solid #ddd;
				border-left: 1px solid #ddd;
			}

			.arrow-left {
				width: 30px;
				height: 64px;
				background: #fff url('../images/history-arrow-left.png') no-repeat 50% 50%;
			}
			.arrow-right {
				width: 30px;
				height: 64px;
				background: #fff url('../images/history-arrow-right.png') no-repeat 50% 50%;
				margin-left: 5px;
			}
			.item {
				width: 110px;
				height: 64px;
				margin-left: 5px;
				background: #fff;
				padding: 15px 0 0 28px;
				time {
					display: block;
					font-size: 12px;
					margin-bottom: 10px;
				}
				span {
					font-size: 18px;
					color: #ed7118;
					padding-left: 10px;
					background: #fff url('../images/history-cash.png') no-repeat 0 50%;
				}
				&.active {
					border-top: 5px solid #4388c9;
					padding-top: 11px;
				}
			}
			.date {
				flex: 1;
				background: #fff;
				margin-left: 5px;
				background: #fff url('../images/history-calendar.png') no-repeat 20px 50%;
				font-size: 14px;
				padding: 28px 0 0 64px;
			}
		}
	}

}