$navBackGround: #2b2f3d;
$navHoverBackGround: #393d4e;

* {
	box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #333;
}

// main-header
.main-header {
	min-width: 1280px;
	height: 56px;
	background: #2289bf;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		margin-left: 50px;
	}
	.search {
		margin-right: 94px;
		input {
			width: 312px;
			height: 28px;
			border-radius: 15px;
			border: none;
			outline: none;
			padding-left: 40px;
			background: #fff url('../images/search.png') no-repeat 15px 50%;
		}
		.sign-up {
			display: inline-block;
			background: #2289bf url('../images/user.png') no-repeat;
			padding-left: 18px;
			margin-left: 20px;
			color: #fff;
		}
	}
}

//container
.container {
	width: 1280px;
	margin: 0 auto;
}

.left-part {
	width: 260px;
	height: 100vh;
	background-color: $navBackGround;
	display: flex;
	flex-direction: column;
	.user-info {
		height: 150px;
		background: #2b2f3d;
		padding: 18px 0 0 45px;
	}
	.avatar-container {
		display: flex;
		align-items: center;
		img {
			width: 48px;
			height: 48px;
			padding: 3px;
			border-radius: 50%;
			border: 2px solid #ddd;
		}
		span {
			color: #fff;
			margin-left: 15px;
		}
	}
	.detail {
		color: #6e8098;
		margin-top: 23px;
		padding-left: 18px;
		li {
			display: inline-block;
			padding-right: 30px;
			span {
				display: block;
				margin-bottom: 5px;
			}
			&+li {
				padding-left: 30px;
				border-left: 2px solid #323646;
			}
		}
	}
	nav {
		li {
			color: #6e8095;
			cursor: pointer;
			ul {
				display: none;
			}
			&:hover {
				& > ul {
					display: block;
				}
			}
		}
		& > ul > li {
			padding-left: 46px;
			line-height: 36px;
			& > ul {
				padding-left: 25px;
				li {
					img {
						margin-right: 10px;
					}
					span {
						padding-left: 20px;
						background: $navHoverBackGround url('../images/icon-folder.png') no-repeat 0 50%;
					}
					ul {
						padding-left: 32px;

					}
					li {
						padding-left: 16px;
						background: $navHoverBackGround url('../images/icon-doc.png') no-repeat 0 50%;
					}
					&:hover {
						color: #fff;
					}
				}
			}
			&:first-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-chart.png') no-repeat 0 50%;
			}
			&:nth-child(2) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(3) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
			}
			&:nth-child(4) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:nth-child(5) > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-star.png') no-repeat 0 50%;
			}
			&:last-child > span {
				padding-left: 25px;
				background: $navBackGround url('../images/icon-account.png') no-repeat 0 50%;
			}
			&:hover {
				color: #fff;
				background: $navHoverBackGround;
				&:first-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-chart.png') no-repeat 0 50%;
				}
				&:nth-child(2) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(3) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-sharing.png') no-repeat 0 50%;
				}
				&:nth-child(4) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:nth-child(5) > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-star.png') no-repeat 0 50%;
				}
				&:last-child > span {
					padding-left: 25px;
					background: $navHoverBackGround url('../images/icon-account.png') no-repeat 0 50%;
				}
			}
		}
		.second-class-list {

		}
	}
}

.right-part {
	width: 1020px;
}